.benefits {
    padding: 1.5em;
    width: 100%;
    background-color: #F7F7F7;

    &__container {
        border: 0.1em solid #E8E9ED;
        border-radius: 0.5em;
        width: 100%;
        margin-bottom: 1.5em;
        background-color: #FFF;
        padding: 1em;

        &__backgroundImg {

            &--redRectangle {
                transform: translateX(120%);
            }

            &--blueEllipse{
                transform: translateX(75%);
            }
        }

        &__frontImg {

            &--macbook {

                width: 11em;
                height: 6.2em;
                transform: translateX(-30%);
            }

            &--phone {
              
                transform: translate(-20%, 10%);
            }
        }

        &__title {
            font-family: 'Raleway', sans-serif;
            margin-top: 1em;
            font-size: 1.9em;
            font-weight: 400;
            line-height: 1.1em;
            text-align: left;
            margin-left: 0.5em;
            margin-bottom: 1.4em;

        }

        &__description {
            font-family: 'Open Sans', sans-serif;
            font-size: 1em;
            font-weight: 400;
            line-height: 1.3em;
            text-align: left;
            margin-bottom: 1.4em;
            margin-left: 0.9em;

        }



        &__vector {
            display: none;
        }

    }



}